/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: Verdana, Geneva, sans-serif;
  max-width: 1400px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Courier New", Courier, monospace;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  header {
    width: 85%;
  }
}
.navigation {
  padding-bottom: 15px;
  padding-top: 30px;
  width: 1400px;
  position: fixed;
  background-color: rgb(248, 246, 246);
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .navigation {
    flex-direction: column;
    margin-left: 3%;
  }
}
a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  margin-left: 108px;
  margin-right: 108px;
}
.hero {
  width: 1200px;
  padding-bottom: 30px;
  padding-top: 40px;
  margin-left: 110px;
}
@media (max-width: 500px) {
  .hero {
    margin-left: 8%;
  }
}

.cta {
  font-size: 20px;
  border: 1px solid black;
  border-radius: 2px;
  padding: 1% 3% 1% 3%;
  position: absolute;
  bottom: 20px;
  left: 170px;
}

.logo {
  padding-top: 70px;
  margin-left: 110px;
}

.better {
  padding-top: 90px;
  padding-right: 15px;
}
.welcome {
  max-width: 1200px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 60px;
  padding-right: 20px;
  margin-left: -125px;
  position: absolute;
  top: 120%;
  left: 31%;
  transform: translate(-50%, -50%);
  border-top: 5px solid white;
  border-bottom: 5px solid white;
}

h1 {
  margin-left: 35px;
}
@media (max-width: 500px) {
  h1 {
    margin-left: 12px;
    margin-bottom: 5px;
  }
}
.footer {
  width: 100%;
 
  background: rgb(228, 227, 227);
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
@media (max-width: 500px) {
  .home {
    width: 85%;
  }
}
.home .beach {
  padding-top: 20px;
  padding-bottom: 50px;
}
.home .beach .text-content {
  width: 48%;
  padding-right: 1%;
}
.home .beach .img-content {
  width: 1200px;
  margin-left: 110px;
}
.home .beach .img-content img {
}
.home .tri-content {
  padding-bottom: 30px;
}

.home .tri-content .img-content {
  display: flex;
}
.home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
.home .content-destination img {
  border-radius: 10px;
}
.home .content-pick {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 30px;
  width: 1230px;
  margin-left: 90px;
  border-top: 1px solid lightgrey;
}
@media (max-width: 500px) {
  .home .content-pick {
    flex-direction: column;
    align-items: center;
  }
}
.home .content-pick .esse {
  width: 30%;
  margin-bottom: 30px;
  background-color: rgb(166, 184, 181);
  padding: 20px;
}
.home .content-pick .esse .btn {
  width: 40%;
  color: black;
  border-radius: 1px;
  padding: 5px;
  text-align: center;
  font-size: 14px;
  border: 1px solid black;
}
@media (max-width: 500px) {
  .home .content-pick .esse {
    width: 80%;
  }
}

.essentialism {
  padding-top: 30px;
  display: flex;
  justify-content: space-evenly;
  width: 1200px;
  padding-bottom: 30px;
  margin-left: 110px;
}

.essential {
  padding-right: 2%;
}

.the-way {
  padding-right: 2%;
}

.regain-control {
  padding-right: 2%;
}

.sleep-flower {
  width: 500px;
  border-right: 10px solid whitesmoke;
}

.get-ease-btn {
  background-color: rgb(229, 238, 235);
  padding: 20% 30% 20% 30%;
  margin-left: 60%;
  margin-top: 25%;
  font-size: 36px;
  border-radius: 25px;
  border: 1px solid black;
}

.tea-time {
  width: 255px;
  border-left: 10px solid whitesmoke;
}


