// Homepage Styles

.content {
    display: flex;
    justify-content: space-evenly;
    margin-left: 120px;
    margin-right: 120px;
    padding-bottom: 8%;
    padding-top: 8%;

    @media @mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.essentialist {
    margin-right: 30px;

    @media @mobile {
        border-bottom: 1px solid black;
    }
}

.the-way {
    margin-right: 30px;

    @media @mobile {
        border-bottom: 1px solid black;
    }
}

.middle-img {
    margin-left: 126px;

    @media @mobile {
        margin: 0 auto;
    }
}

.bottom-images {
    display: flex;
    margin-left: 95px;
    padding-top: 5%;

    @media @mobile {
        display: flex;
        flex-direction: column;
        margin-left: 140px;
    }
}

.into-esse {
    width: 30%;
    padding-bottom: 4%;

    @media @mobile {
        width: 50%;
    }
}

.flowersleep {
    width: 40%;

    @media @mobile {
        width: 50%;
    }
}

.cup {
    width: 35%;
    margin-right: 110px;

    @media @mobile {
        width: 50%;
    }
}

.book {
    max-width: 1200px;
    margin: 0 auto;

    @media @mobile {
        display: none;
    }
}

.content-pick {
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
    padding-bottom: 5%;
}

.newsletter {
    margin-right: 30px;
    background-color: rgb(183, 218, 218);
    padding: 2%;
}

.values {
    margin-right: 30px;
    background-color: rgb(183, 218, 218);
    padding: 2%;
}

.profile {
    background-color: rgb(183, 218, 218);
    padding: 2%;
}

.btn {
    font-size: 14px;
    padding: 1% 3% 1% 3%;
    border-radius: 2px;
    border: 1px solid black;
    background-color: white;
}

.team {
    margin-left: 70px;
}

.about {
    margin-left: 120px;
    margin-right: 90px;
    font-size: 22px;
    padding-top: 2%;
    padding-bottom: 2%;
}

article {
    margin-left: 50px;
    font-size: 22px;
    padding-top: 2%;
    padding-bottom: 10%;
}

.andrew {
    background-color: rgb(168, 222, 224);
    margin-right: 120px;
}

.michael {
    background-color: rgb(168, 222, 224);
    margin-right: 120px; 
}

.tommy {
    background-color: rgb(168, 222, 224);
    margin-right: 120px;
}

.melanie {
    background-color: rgb(168, 222, 224);
    margin-right: 120px; 
}

.todo {
    margin-left: 126px;
    margin-right: 110px;
    padding: 10%;
    background-color: cadetblue;
}


