// Navigation Styles here
header {
    @media @mobile {
        width: 85%;
    }
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 30px;
    border: 2px solid gray;
    width: 150%;
    position: sticky;
    
    @media @mobile {
        flex-direction: column;
        align-items: center;
        margin-left: 3%;
    }
}


a {
    text-decoration: none;
    color: gray;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 38px; 
}

.hero {
    width: 100%;
    max-width: 800px;
    height: auto;
    padding-bottom: 10px;
    
    @media @mobile {
        margin-left: 8%;
    }
}

.welcome {
    max-width:  800px;

    @media @mobile {
      margin-left: 10%;
      width: 100%;  
    }
    
}

h1 {
    margin-left: 35px;

    @media @mobile {
        margin-left: 12px;
        margin-bottom: 5px;
    }
}




